<!DOCTYPE html>
<html>
    <head>
        <link
            href="../../static/css/styles.css"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="../../static/css/custom.css"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
    </head>
    <script src="script.js"></script>

    <body>
        <div style="align-items: right; display: flex; margin-bottom: 60px;">
            <div class="navbar-brand occasional">
                <img src="/static/img/OC_Variant3.png" width="50" height="50" class="d-inline-block align-bottom" alt="">
            </div> 
            <div class="occasional d-inline-block" style="margin-left: 10px; color: black; margin-top: 12px;">OCCASIONAL</div>
            <div class="body-text" style="margin-left: 68%; margin-top: 15px; margin-right: 1%;">
                Already have an account?
            </div>
            <a href="/auth/login" class="sign-in" style="text-decoration: none; margin-top: 4px;">
                Sign In
            </a>
        </div>
        <div class="boxUser">
            <h2>Create an Occasional Account</h2>
            <h3>One account for all club, faculty, and campus events.</h3>
            <form action="" method="POST">
                <table>
                    {% if form.first_name.errors %}
                        {% for error in form.first_name.errors %}
                            <tr>
                                <td style="text-align: left;">
                                    <span class="error-auth">{{error}}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td>{{form.first_name()}}</td>
                    </tr>

                    {% if form.last_name.errors %}
                        {% for error in form.last_name.errors %}
                            <tr>
                                <td style="text-align: left;">
                                    <span class="error-auth">{{error}}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td>{{form.last_name()}}</td>
                    </tr>

                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <tr>
                                <td style="text-align: left;">
                                    <span class="error-auth">{{error}}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td>{{form.email()}}</td>
                    </tr>

                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            <tr>
                                <td style="text-align: left;">
                                    <span class="error-auth">{{error}}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td>{{form.username()}}</td>
                    </tr>

                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <tr>
                                <td style="text-align: left;">
                                    <span class="error-auth">{{error}}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td>{{form.password()}}</td>
                    </tr>

                    {% if form.password2.errors %}
                        {% for error in form.password2.errors %}
                            <tr>
                                <td style="text-align: left;">
                                    <span class="error-auth">{{error}}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    <tr>
                        <td>{{form.password2()}}</td>
                    </tr>
                </table>
                {{form.submit(class="button-main", style="margin-top: 30px; margin-bottom: 30px;")}}
            </form>
            <h6>
                Want to register as an organization?
                <a
                    id="nonbutton"
                    style="text-decoration: none; color: darkblue !important;"
                    href="/auth/register-org"
                    >Click here.</a
                >
            </h6>
        </div>
    </body>
</html>
