:root { 
    font-family: 'Inter', sans-serif; 
    --UofT-Blue: #25355A;
    --Lighter-Blue: #64748B;
    --Light-Grey: #F1F5F9;
    --White: #FFFFFF;
    --Black: #000000;
    --Bold-font-weight: 700;
    --Medium-font-weight: 400;
    --Light-font-weight: 300;
    --underline-padding: 
}

@supports (font-variation-settings: normal) {
  :root { 
    font-family: 'Inter var', sans-serif; 
  }
}

.navbar{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 100px;
    margin-bottom: 60px;
}


.occasional{
    font-family: Inter;
    font-size: 22px;
    font-style: bold;
    font-weight: 700;
    line-height: normal; 

    color: var(--UofT-Blue);
}

.nav-link{
    color: #64748B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav-link:hover{
 color: var(--UofT-Blue);
}

.nav-item{
    padding-right: 30px;
    padding-left: 30px;
}


.rec-sec{
    height: 636px;
    flex-shrink: 0;
    background-color: var(--Light-Grey); 
}

.recommended{
    color: #000000;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    background-color: var(--Light-Grey);
    margin-top: 70px;
    margin-bottom: 0px;
    line-height: 30px;
}

.col-8{
    background-color: var(--Light-Grey);
    margin-bottom: 0px;
}

hr {
    height: 2px;
    border: 2px solid var(--UofT-Blue);
    background-color: var(--UofT-Blue);
    text-align: left;
    margin-left: 0;
    margin-top: 5px;
    width: 450px;
}

.recommended_card{
    margin-top: 60px;
    height: 350px;
    margin-right: -5px;
    margin-left: -5px;
}

.cards{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}