
:root { 
    font-family: 'Inter', sans-serif; 
    --UofT-Blue: #25355A;
    --Lighter-Blue: #64748B;
    --Light-Grey: #F1F5F9;
    --White: #FFFFFF;
    --Black: #000000;
    --Bold-font-weight: 700;
    --Medium-font-weight: 400;
    --Light-font-weight: 300;
    --underline-padding: 
}
@supports (font-variation-settings: normal) {
  :root { 
    font-family: 'Inter var', sans-serif; 
  }
}

.navbar{
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 15%;
    margin-bottom: 5%;
}


.occasional{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: normal; 

    color: var(--UofT-Blue);
}

.nav-link{
    color: #64748B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav-link:hover{
    color: var(--UofT-Blue);
}

.nav-item{
    padding-right: 8%;
    padding-left: 8%;
}


.rec-sec{
    height: 636px;
    flex-shrink: 0;
    background-color: var(--Light-Grey); 
}

.recommended{
    color: #000000;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    background-color: var(--Light-Grey);
    margin-top: 20px;
    border-bottom: 2px;
    border-color: #000000;
}

.col-9{
    background-color: var(--Light-Grey);
}

hr {
    display: block;
    height: 5px;
    border: 2px solid var(--UofT-Blue);
    background-color: var(--UofT-Blue);
    text-align: left;
    margin-left: 0;
    margin-top: 20px;
    width: 450px;
}

.main-title{
    color: #000000;
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    line-height: 125%;
}

.label-bold{
    color: #475569;
    font-family: Inter;
    font-size: 14px;
    font-weight: 450;
}

.label{
    color: #475569;
    font-family: Inter;
    font-size: 14px;
    font-weight: 250;
}

.subtitle{
    color: #000000;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
}