:root { 
    font-family: 'Inter', sans-serif; 
    --UofT-Blue: #25355A;
    --Lighter-Blue: #64748B;
    --Darker-Grey: #475569;
    --Light-Grey: #F1F5F9;
    --White: #FFFFFF;
    --Black: #000000;
    --Bold-font-weight: 700;
    --Medium-font-weight: 400;
    --Light-font-weight: 300;
    --underline-padding: 
}

.turn-page{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 2px;
    color: var(--Darker-Grey);
    font-family: Inter;
    font-size: 14px;
    font-weight: 450;
    cursor: pointer;
}

.search-form{
    padding: 8px;
    font-size: 14px;
    font-weight: 350;
    font-family: Inter;
    color: var(--Darker-Grey);
}