<html lang="en">
    <head>
        <!-- Some Basic View Stuff -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width initial-scale=1" />

        <!-- Browser tab stuff (favicon and browser title)-->
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
        <title>Occasional | {% block title %} {% endblock %}</title>

        <!-- Stylesheets linked -->
        <link rel="stylesheet" href="/static/css/custom.css" />
        <link rel="stylesheet" href="/static/css/profile.css"/>
        <link rel="stylesheet" href="/static/css/styles.css"/>
        <link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
          integrity= "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" /> 
        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/static/css/forms.css" />
        <link rel="stylesheet" href="/static/css/comments.css" />
    </head>
</html>
<body>
    <!-- Nav bar code -->
    <nav class="navbar navbar-expand-sm bg-white"> 
        <div class="navbar-brand occasional">
            <img src="/static/img/OC_Variant3.png" width="50" height="50" class="d-inline-block align-bottom" alt="">
        </div> 
        <div class="occasional d-inline-block" style="margin-left: -10px; color: black;">OCCASIONAL</div>
        
        <button class="navbar-toggler" type="button" 
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" 
                aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon"></span> 
        </button> 
  
        <div class="collapse navbar-collapse"></div> 
  
        <div class="collapse navbar-collapse" 
                id="navbarSupportedContent"> 
            <ul class="navbar-nav justify-content-center"> 
                {% if current_user.role == "organization"%}
                    <li class="nav-item banner" style="margin-left: 10%;"> 
                        <a class="nav-link" 
                        href="/event/create"> 
                        CREATE
                        </a> 
                    </li> 
                {% else %}
                    <li class="nav-item banner" style="margin-left: 10%;"> 
                        <a class="nav-link" 
                        href="/"> 
                        DASHBOARD  
                        </a> 
                    </li> 
                {% endif %}
                <li class="nav-item banner"> 
                    <a class="nav-link" 
                        href="/event/search"> 
                        DISCOVER 
                    </a> 
                </li> 
                <li class="nav-item banner"> 
                    <a class="nav-link"
                        href="/profile"> 
                        PROFILE 
                    </a> 
                </li>
                <li class="nav-item banner"> 
                    <a class="nav-link"
                        href="/calendar"> 
                        CALENDAR
                    </a> 
                </li>  
            </ul>    
        </div>
        <div class= "banner" style="padding: 0; margin-left: auto; margin-right: -12%;">
            <a class="nav-link" href="/auth/logout" style="color: black;">
                LOGOUT
                <svg style="margin-bottom: 4px;" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"/></svg>
            </a>
        </div> 
        <div class="hamburger">
            <input id="menu-toggle" type="checkbox"/>
            <label class="menu-button-container" for="menu-toggle">
                <div class="menu-button"></div>
            </label>
            <ul class="menu">
                <li>
                    {% if current_user.role == "organization"%}
                    <a class="label" style="color: var(--White);" href="/event/create"> 
                        CREATE
                    </a> 
                    {% else %}
                    <a class="label" style="color: var(--White);" href="/"> 
                        DASHBOARD  
                    </a> 
                    {% endif %}
                </li>
                <li>
                    <a class="label" style="color: var(--White);" href="/event/search"> 
                        DISCOVER 
                    </a> 
                </li>
                <li>
                    <a class="label" style="color: var(--White);" href="/profile"> 
                        PROFILE 
                    </a> 
                </li>
                <li>
                    <a class="label" style="color: var(--White);" href="/calendar"> 
                        CALENDAR 
                    </a> 
                </li>
                <li>
                    <a class="label" style="color: var(--White); padding-bottom: 10px;" href="/auth/logout"> 
                        LOGOUT
                        <svg style="margin-bottom: 4px; fill: var(--White);" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"/></svg>
                    </a> 
                </li>
            </ul>
        </div> 
    </nav> 
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
