{% extends 'base.html' %}
{% block title %} Create Event {% endblock %}
{% block content %}

    <div style="width: 1440px; height: 3000px; position: relative; background: white">
    <div style="width: 1502px; height: 2864px; left: 0px; top: 136px; position: absolute; background: #F1F5F9"></div>
    <div style="width: 496px; left: 86px; top: 155px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Event Creation</div>
    <div style="width: 133px; height: 51px; left: 1103px; top: 1869px; position: absolute; background: #25355A"></div>
    <div style="left: 1126px; top: 1886px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Create Event</div>
    <div style="width: 496px; left: 86px; top: 237px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Event Name</div>
    <div style="width: 1150px; height: 58px; left: 86px; top: 298px; position: absolute; background: white; border-radius: 5px; border: 2px #25355A solid"></div>
    <div style="left: 114px; top: 318px; position: absolute; color: #94A3B8; font-size: 14px; font-family: Inter; font-weight: 300; line-height: 18px; word-wrap: break-word">Insert Event Name here</div>
    <div style="width: 496px; left: 86px; top: 408px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Date & Time</div>
    <div style="width: 1150px; height: 58px; left: 86px; top: 469px; position: absolute; background: white; border-radius: 5px; border: 2px #25355A solid"></div>
    <div style="left: 114px; top: 489px; position: absolute; color: #94A3B8; font-size: 14px; font-family: Inter; font-weight: 300; line-height: 18px; word-wrap: break-word">Insert Date & Time here</div>
    <div style="width: 496px; left: 86px; top: 1012px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Event Description</div>
    <div style="width: 1150px; height: 525px; left: 86px; top: 1073px; position: absolute; background: white; border-radius: 5px; border: 2px #25355A solid"></div>
    <div style="left: 114px; top: 1093px; position: absolute; color: #94A3B8; font-size: 14px; font-family: Inter; font-weight: 300; line-height: 18px; word-wrap: break-word">Insert Event Description here</div>
    <div style="width: 496px; left: 86px; top: 1636px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Related Interests</div>
    <div style="width: 1150px; height: 58px; left: 86px; top: 1697px; position: absolute; background: white; border-radius: 5px; border: 2px #25355A solid"></div>
    <div style="left: 114px; top: 1717px; position: absolute; color: #94A3B8; font-size: 14px; font-family: Inter; font-weight: 300; line-height: 18px; word-wrap: break-word">Insert fields here</div>
    <div style="width: 496px; left: 86px; top: 579px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Organizer</div>
    <div style="width: 1150px; height: 58px; left: 86px; top: 640px; position: absolute; background: white; border-radius: 5px; border: 2px #25355A solid"></div>
    <div style="left: 114px; top: 660px; position: absolute; color: #94A3B8; font-size: 14px; font-family: Inter; font-weight: 300; line-height: 18px; word-wrap: break-word">Insert Event Organizer name here</div>
    <div style="width: 496px; left: 86px; top: 751px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Location</div>
    <div style="width: 1150px; height: 58px; left: 86px; top: 812px; position: absolute; background: white; border-radius: 5px; border: 2px #25355A solid"></div>
    <div style="left: 114px; top: 832px; position: absolute; color: #94A3B8; font-size: 14px; font-family: Inter; font-weight: 300; line-height: 18px; word-wrap: break-word">Insert Address here </div>
    <div style="width: 1150px; height: 58px; left: 86px; top: 902px; position: absolute; background: white; border-radius: 5px; border: 2px #25355A solid"></div>
    <div style="left: 114px; top: 922px; position: absolute; color: #94A3B8; font-size: 14px; font-family: Inter; font-weight: 300; line-height: 18px; word-wrap: break-word">Insert Room number here </div>
    <div style="left: 433px; top: 48px; position: absolute; color: #64748B; font-size: 16px; font-family: Inter; font-weight: 700; word-wrap: break-word">DASHBOARD</div>
    <div style="left: 774px; top: 48px; position: absolute; color: #64748B; font-size: 16px; font-family: Inter; font-weight: 700; word-wrap: break-word">PROFILE</div>
    <div style="left: 613px; top: 48px; position: absolute; color: #64748B; font-size: 16px; font-family: Inter; font-weight: 700; word-wrap: break-word">DISCOVER</div>
    <div style="left: 919px; top: 48px; position: absolute; color: #64748B; font-size: 16px; font-family: Inter; font-weight: 700; word-wrap: break-word">CALENDAR</div>
    <div style="left: 96px; top: 43px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">OCCASIONAL</div>
    <div style="width: 55px; height: 52px; left: 31px; top: 29px; position: absolute; background: #D9D9D9"></div>
  </div>
  {% endblock %}