{% extends 'base.html' %}
{% block title %} Create Event {% endblock %}
{% block content %}

<div style="width: 1440px; height: 3000px; position: relative; background: white">
    <div style="width: 1502px; height: 3032px; left: 0px; top: 0px; position: absolute; background: #F1F5F9"></div>
    <div style="width: 496px; left: 86px; top: 19px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Event Creation</div>
    <div style="width: 133px; height: 51px; left: 1103px; top: 1733px; position: absolute; background: #25355A"></div>
    <div style="left: 1126px; top: 1750px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Create Event</div>
    <div style="width: 496px; left: 86px; top: 101px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Event Name</div>
    <div style="width: 1150px; height: 58px; left: 86px; top: 162px; position: absolute; background: white; border-radius: 5px; border: 2px #25355A solid"></div>
    <div style="left: 114px; top: 182px; position: absolute; color: #94A3B8; font-size: 14px; font-family: Inter; font-weight: 300; line-height: 18px; word-wrap: break-word">Insert Event Name here</div>
    <div style="width: 496px; left: 86px; top: 272px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Date & Time</div>
    <div style="width: 1150px; height: 58px; left: 86px; top: 333px; position: absolute; background: white; border-radius: 5px; border: 2px #25355A solid"></div>
    <div style="left: 114px; top: 353px; position: absolute; color: #94A3B8; font-size: 14px; font-family: Inter; font-weight: 300; line-height: 18px; word-wrap: break-word">Insert Date & Time here</div>
    <div style="width: 496px; left: 86px; top: 876px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Event Description</div>
    <div style="width: 1150px; height: 525px; left: 86px; top: 937px; position: absolute; background: white; border-radius: 5px; border: 2px #25355A solid"></div>
    <div style="left: 114px; top: 957px; position: absolute; color: #94A3B8; font-size: 14px; font-family: Inter; font-weight: 300; line-height: 18px; word-wrap: break-word">Insert Event Description here</div>
    <div style="width: 496px; left: 86px; top: 1500px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Related Interests</div>
    <div style="width: 1150px; height: 58px; left: 86px; top: 1561px; position: absolute; background: white; border-radius: 5px; border: 2px #25355A solid"></div>
    <div style="left: 114px; top: 1581px; position: absolute; color: #94A3B8; font-size: 14px; font-family: Inter; font-weight: 300; line-height: 18px; word-wrap: break-word">Insert fields here</div>
    <div style="width: 496px; left: 86px; top: 443px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Organizer</div>
    <div style="width: 1150px; height: 58px; left: 86px; top: 504px; position: absolute; background: white; border-radius: 5px; border: 2px #25355A solid"></div>
    <div style="left: 114px; top: 524px; position: absolute; color: #94A3B8; font-size: 14px; font-family: Inter; font-weight: 300; line-height: 18px; word-wrap: break-word">Insert Event Organizer name here</div>
    <div style="width: 496px; left: 86px; top: 615px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">Location</div>
    <div style="width: 1150px; height: 58px; left: 86px; top: 676px; position: absolute; background: white; border-radius: 5px; border: 2px #25355A solid"></div>
    <div style="left: 114px; top: 696px; position: absolute; color: #94A3B8; font-size: 14px; font-family: Inter; font-weight: 300; line-height: 18px; word-wrap: break-word">Insert Address here </div>
    <div style="width: 1150px; height: 58px; left: 86px; top: 766px; position: absolute; background: white; border-radius: 5px; border: 2px #25355A solid"></div>
    <div style="left: 114px; top: 786px; position: absolute; color: #94A3B8; font-size: 14px; font-family: Inter; font-weight: 300; line-height: 18px; word-wrap: break-word">Insert Room number here </div>
  </div>
  {% endblock %}