{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
    <div class="card">
        <div class = "container-fluid rec-sec">
            <div class= "row">
                <div class = "col"></div>
                    <div class = "recommended col-9">RECOMMENDED FOR YOU
                        <hr class="underline_blue">
                    </div>       
                <div class= "col"></div>
            </div>
            <div class = "cards">
                <div class="row">
                    <div class = "col s3">
                        <div class="card medium">
                            <div class="recommended_title">
                                Michael Garron Hospital - Student Open...
                                <hr class="underline_title">
                            </div>
                        </div>
                    </div>
                    <div class = "col s3">
                        <div class="card medium">
                            <div class="recommended_title">
                                Fiery Flamingo Phantasmal Faceplant
                                <hr class="underline_title">
                            </div>
                        </div>  
                    </div>
                    <div class = "col s3">
                        <div class="card medium">
                            <div class="recommended_title">
                                Build U Up: Mental Health & Wellness Pop Up
                                <hr class="underline_title">
                            </div>
                        </div>
                    </div>
                    <div class = "col s3">
                        <div class="card medium">
                            <div class="recommended_title">
                                School of Environment Autumn Hike
                                <hr class="underline_title">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "col"></div>
    <div class = "container-fluid upp-sec col-9">
        <div class="row">
            <div class="upcoming col-8">YOUR UPCOMING EVENTS
                <hr class="underline_white">
            </div>
        </div>
        <div class="row">
            <div class = "card upcoming_card col-11">
            </div>
            <div class = "card upcoming_card col-11">
            </div>
            <div class = "card upcoming_card col-11">
            </div>
            <div class = "card upcoming_card col-11">
            </div>
        </div>
    </div>
    <div class ="col"></div>
{% endblock %}