{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
    <div class="card">
        <div class = "container-fluid rec-sec">
            <div class= "row">
                <div class = "col"></div>
                    <div class = "recommended col-9">RECOMMENDED FOR YOU
                        <hr class="underline_blue">
                    </div>       
                <div class= "col"></div>
            </div>
            <div class = "cards">
                <div class="row">
                    <div class = "col s3">
                        <div class="card medium">
                            <span class="title recommended_title">
                                Michael Garron Hospital - Student Open...
                                <hr class="underline_title">
                            </span>
                            <div class="rec_info">
                                <div class = "label-bold">Date & Time:</div>
                                <span class = "label">
                                    Wendesday Oct 4, 2023
                                </span>
                                <span class = "label">
                                    12:00PM - 1:30PM
                                </span>
                            </div>
                            <div class = "rec_info">
                                <div class = "label-bold">Organizer:</div>
                                <span class = "label">
                                    Career Centre Staff, Career Centre
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class = "col s3">
                        <div class="card medium">
                            <span class="title recommended_title">
                                Fiery Flamingo Phantasmal Faceplant
                                <hr class="underline_title">
                            </span>
                            <div class="rec_info">
                                <div class = "label-bold">Date & Time:</div>
                                <span class = "label">
                                    Monday Apr 4, 2024
                                </span>
                                <span class = "label">
                                    8:00PM - 8:00PM
                                </span>
                            </div>
                            <div class = "rec_info">
                                <div class = "label-bold">Organizer:</div>
                                <span class = "label">
                                    Fiery Flamingo Outreach Team
                                </span>
                            </div>
                        </div>  
                    </div>
                    <div class = "col s3">
                        <div class="card medium">
                            <span class="title recommended_title">
                                Build U Up: Mental Health & Wellness..
                                <hr class="underline_title">
                            </span>
                            <div class="rec_info">
                                <div class = "label-bold">Date & Time:</div>
                                <span class = "label">
                                    Wendesday Oct 25, 2023
                                </span>
                                <span class = "label">
                                    11:30AM - 1:30PM
                                </span>
                            </div>
                            <div class = "rec_info">
                                <div class = "label-bold">Organizer:</div>
                                <span class = "label">
                                    Skule&trade; Mental Wellness, Health &
                                    Wellness Centre
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class = "col s3">
                        <div class="card medium">
                            <span class="title recommended_title">
                                School of Environment Autumn Hike
                                <hr class="underline_title">
                            </span>
                            <div class="rec_info">
                                <div class = "label-bold">Date & Time:</div>
                                <span class = "label">
                                    Saturday Oct 14, 2023
                                </span>
                                <span class = "label">
                                    12:00PM - 1:30PM
                                </span>
                            </div>
                            <div class = "rec_info">
                                <div class = "label-bold">Organizer:</div>
                                <span class = "label">
                                    School of Environment
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "col"></div>
    <div class = "container-fluid upp-sec col-9">
        <div class="row">
            <div class="upcoming col-8">YOUR UPCOMING EVENTS
                <hr class="underline_white">
            </div>
        </div>
        <div class="row">
            <div class = "card upcoming_card col-11">
                <div class="row">
                    <div class="title upcoming_title col-7">
                        Michael Garron Hospital - Student Open House
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="date_time_time col-6 date_time_top">
                                12:00PM
                            </div>
                            <div class="date_time_date col-6 date_time_top">
                                Wendesday
                            </div>
                        </div>
                        <div class="row">
                            <div class="date_time_time col-6">
                                01:30PM
                            </div>
                            <div class="date_time_date col-6">
                                Oct 4, 2023
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-11">
                        <hr class="underline_upp">
                    </div>
                </div>
                <div class="row">
                    <div class="rec_info col-4">
                        <span class="label-bold">Organizer: </span>
                        <span class="label">Career Centre Staff, Career Centre</span>
                    </div>
                    <div class="rec_info col-6">
                        <span class="label-bold">Location: </span>
                        <span class="label">155 College St, Toronto, ON M5T 3M7, Room DL220</span>
                    </div>
                </div>
            </div>
            <div class = "card upcoming_card col-11">
                <div class="row">
                    <div class="title upcoming_title col-7">
                        Michael Garron Hospital - Student Open House
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="date_time_time col-6 date_time_top">
                                08:00AM
                            </div>
                            <div class="date_time_date col-6 date_time_top">
                                Monday
                            </div>
                        </div>
                        <div class="row">
                            <div class="date_time_time col-6">
                                08:00PM
                            </div>
                            <div class="date_time_date col-6">
                                Apr 1, 2023
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-11">
                        <hr class="underline_upp">
                    </div>
                </div>
                <div class="row">
                    <div class="rec_info col-4">
                        <span class="label-bold">Organizer: </span>
                        <span class="label">Career Centre Staff, Career Centre</span>
                    </div>
                    <div class="rec_info col-6">
                        <span class="label-bold">Location: </span>
                        <span class="label">155 College St, Toronto, ON M5T 3M7, Room DL220</span>
                    </div>
                </div>
            </div>
            <div class = "card upcoming_card col-11">
                <div class="row">
                    <div class="title upcoming_title col-7">
                        Michael Garron Hospital - Student Open House
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="date_time_time col-6 date_time_top">
                                11:00AM
                            </div>
                            <div class="date_time_date col-6 date_time_top">
                                Wendesday
                            </div>
                        </div>
                        <div class="row">
                            <div class="date_time_time col-6">
                                01:30PM
                            </div>
                            <div class="date_time_date col-6">
                                Oct 25, 2023
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-11">
                        <hr class="underline_upp">
                    </div>
                </div>
                <div class="row">
                    <div class="rec_info col-4">
                        <span class="label-bold">Organizer: </span>
                        <span class="label">Career Centre Staff, Career Centre</span>
                    </div>
                    <div class="rec_info col-6">
                        <span class="label-bold">Location: </span>
                        <span class="label">155 College St, Toronto, ON M5T 3M7, Room DL220</span>
                    </div>
                </div>
            </div>
            <div class = "card upcoming_card col-11">
                <div class="row">
                    <div class="title upcoming_title col-7">
                        Michael Garron Hospital - Student Open House
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="date_time_time col-6 date_time_top">
                                12:00PM
                            </div>
                            <div class="date_time_date col-6 date_time_top">
                                Saturday
                            </div>
                        </div>
                        <div class="row">
                            <div class="date_time_time col-6">
                                01:30PM
                            </div>
                            <div class="date_time_date col-6">
                                Oct 14, 2023
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-11">
                        <hr class="underline_upp">
                    </div>
                </div>
                <div class="row">
                    <div class="rec_info col-4">
                        <span class="label-bold">Organizer: </span>
                        <span class="label">Career Centre Staff, Career Centre</span>
                    </div>
                    <div class="rec_info col-6">
                        <span class="label-bold">Location: </span>
                        <span class="label">155 College St, Toronto, ON M5T 3M7, Room DL220</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class ="col"></div>
{% endblock %}