{% extends 'base.html' %}
{% block title %} Event Details {% endblock %}
{% block content %}

<body>
	<div class="events-title"
		style="display: flex; margin-top: 6%; margin-right: 10%; margin-left: 10%; margin-bottom: 5%;">
		<div style="flex: 50%">
			<!-- Event Details -->
			<div class="main-title" style="margin-bottom: 40px;">
				{{event.title}}
			</div>
			<div class="time-label" style="margin-bottom: 8px;">
				<!-- Date and Time -->
				<span class="label-bold">
					Date & Time:
				</span>
				<span class="label">
					{{ event.event_date.from_date.strftime('%b %d, %Y %I:%M') }} - {{ event.event_date.to_date.strftime('%I:%M %p').lstrip('0')|upper }}
				</span>
			</div>
			<div class="org-label" style="margin-bottom: 8px;">
				<!-- Organizer -->
				<span class="label-bold">
					Organizer:
				</span>
				<span class="label">
					<a href="/profile-org/{{event.organizer.author_id}}">{{event.organizer.name}}</a>
				</span>
			</div>

			{% if user_is_owner %}
				{% if registration_open %}
					<!-- Registration Open -->
					<span class="label-bold">
						Registration open until: 
					</span>

					{% if event.registration_open_until %}
						<span class="label">
							{{ event.registration_open_until.strftime('%b %d, %Y %I:%M %p') }}
						</span>
					{% else %}
						<span class="label">
							{{ event.event_date.from_date.strftime('%b %d, %Y %I:%M %p') }}
						</span>
					{% endif %}

					<!-- Edit Button -->
					<div style="display:flex; gap:1rem; margin-top: 80px;">
						<a class="button-main no-color" href="/event/update/{{event.id}}" style="text-decoration: none;">Edit</a>
					</div>
				{% else %}
					<!-- Registration Closed -->
					<span class="label-bold">
						Registration closed. 
					</span>
				{% endif %}
			{% elif user_is_attendee and not user_is_organizer %}
				<!-- User is Attendee -->
				<div class="label">
					You are currently registered for this event. 
				</div>
				<div style="display:flex; gap:1rem; margin-top: 20%;">
					{% if registration_open %}
						<!-- Cancel Registration Form -->
						<form action="" method="POST">
							{{ form.hidden_tag()}}
							{{form.submit(value="Cancel", class="button-cancel")}}
						</form>
					{% endif %}
					<!-- Export Button -->
					<a class="button-main no-color" style="text-decoration:none; height:100%;" href="/event/ics/{{event.id}}">Export</a>
				</div>
			{% elif registration_open and not user_is_organizer %}
				<!-- Registration Open for Attendee -->
				<span class="label-bold">
					Registration open until: 
				</span>
				{% if event.registration_open_until %}
					<span class="label">
						{{ event.registration_open_until.strftime('%b %d, %Y %I:%M %p') }}
					</span>
				{% else %}
					<span class="label">
						{{ event.event_date.from_date.strftime('%b %d, %Y %I:%M %p') }}
					</span>
				{% endif %}
				<!-- RSVP Form -->
				<form action="" method="POST">
					{{ form.hidden_tag()}}
					{{form.submit(value="RSVP", class="button-main", style="margin-top: 80px")}}
				</form>
			{% elif not user_is_organizer %}
				<!-- Registration Closed for Attendee -->
				<span class="label-bold">
					Registration closed. 
				</span>
			{% endif %}
		</div>
		<div style="flex: 17%;"></div>
		<div style="flex: 33%; margin-top: 45px;">
			<!-- Location Section -->
			<div class="subtitle" style="margin-bottom: 14px" ;>
				Location
			</div>
			<div class="address-label" style="margin-bottom: 8px;">
				<!-- Address -->
				<span class="label-bold">
					Address:
				</span>
				<span class="label">
					{{event.location.address}}
				</span>
			</div>
			<div class="room-label" style="margin-bottom: 10px;">
				<!-- Room -->
				<span class="label-bold">
					Room:
				</span>
				<span class="label">
					{{event.location.room}}
				</span>
			</div>
			<!-- Google Maps Embed
			<iframe width=80% height=200px style="border: 0; margin-top: 16px;" loading="lazy" allowfullscreen
					referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key=API_KEY
						&q=Space+Needle,Seattle+WA">
			</iframe> -->
		</div>
	</div>

	<div class="event-details" style="background-color: #F1F5F9; padding-bottom: 80px;">
        <div style="margin-left: 10%; margin-right: 12%; padding-top: 40px;">
            <div class="title" style="margin-bottom: 40px; margin-top: 10px;">
                Event Details
            </div>
            <div style="display: flex;">
                <div class="card-container" style="flex: 60%;">
                    <div class="subtitle" style="margin-bottom: 28px;">
                        Description
                    </div>
                    <hr style="margin-bottom: 28px; width: auto;">
                    <p class="body-text">
						{{event.description}}
                    </p>
                </div>
                <div style="flex: 8%;"></div>
                <div class="card-container" style="flex: 32%; min-height: 300px;">
                    <div class="subtitle">
                        Related Interests
                    </div>
                    <hr style="width: auto;">
                    <div style="display: flexbox; flex-direction: row; justify-content: flex-start;">
						{% for interest in targeted_preferences %}
                        <a href="/event/search?preferences={{interest.id}}" style="text-decoration: none">
							<button class="interest-tag">
								{{interest.preference}}
								<div class="tag-number">
									{{interest.events_with_preference}}
								</div>
							</button>
						</a>
						{% endfor %}

                    </div> 
                </div>
            </div>
            
        </div>
		<!-- Statistics for Organizer -->
		{% if user_is_owner %}
		<script>
			// Function to copy text to clipboard
			function clip_text(){
				var input = document.createElement('input')
				input.id="__copyText__";
				input.value = "{{attendee_list}}"; // OOPS! document.getElementById(divId).innerText;
				document.body.appendChild(input);
				input.select();
				document.execCommand("copy");
				var txt = input.value
				input.remove()
				console.log("OK COPIED: '"+txt+"'")
			}
			
			// Function to copy text from a specific div
			function clip_div(divId){
				return clip_text(document.getElementById(divId).innerText)
			}
		</script>

		<div style="margin-left: 10%; margin-right: 12%; padding-top: 40px; padding-bottom: 80px;">
			<div class="title" style="margin-bottom: 40px; margin-top: 10px;">
				Event Statistics
			</div>
			<div style="display: flex;">
				<div class="card-container" style="flex: 60%; margin-bottom: 40px;">
					<div class="subtitle" style="margin-bottom: 6px;">
						Attendance Information
					</div>
					<div style="display: flex; margin-bottom: 14px; gap: 6px;">
						<div class="label-bold">
							Attendees: 
						</div>
						<div class="label">
							{{num_attendees}}
						</div>
					</div>
					<hr style="margin-bottom: 28px; width: auto;">

					<!-- Loop through attendees and display their information -->
					{% for attendee in event.attendees %}
						<div class="body-text" style="display:flex;flex-direction:column">
							<span style="display: flex; flex-direction: row; gap: 20px;">
								<b>{{attendee.name}}</b>
								<p>{{attendee.email}}</p>
							</span>
						</div>
					{% endfor %}

					<button class="button-main" onclick="clip_text()" style="margin-top: 30px;">Copy Emails</button>
				</div>
			</div>

			<div class="card-container" style="flex: 60%; margin-bottom: 40px;">
				<div class="subtitle" style="margin-bottom: 6px;">
					Review Summary
				</div>
				<hr style="margin-bottom: 28px; width: auto;">

				<div style="display: flex; margin-bottom: 6px; gap: 6px;">
					<div class="label-bold">
						Number of Comments: 
					</div>
					<div class="label">
						{{num_comments}}
					</div>
				</div>

				<div style="display: flex; margin-bottom: 6px; gap: 6px;">
					<div class="label-bold">
						Average Rating: 
					</div>
					<div class="label">
						{{avg_rating}} stars
					</div>
				</div>
			</div>
		</div>
		{% endif %}
    </div>

	

	<!-- add a new comment -->
	{% if not user_is_owner %}
	<div style="margin-left: 10%; margin-right: 12%; padding-top: 40px; padding-bottom: 0px;">
		<div class="title" style="margin-bottom: 40px; margin-top: 10px;">
			Leave a Review
		</div>
		<form method="POST" action="/event/comment/{{event.id}}">
			{{comment_form.hidden_tag()}}
			<div style="display: flex; margin-top: 10px; margin-bottom: 10px;">
				<div class="label-bold" style="width: 50%;">
					{{comment_form.rating.label}}
				</div>
			</div>
		
			<div style="display: flex; margin-top: 10px; margin-bottom: 10px;">
				<div style="width: 50%;">
					{{ comment_form.rating(class="search-form",rows=10, style="width: 100%") }}
				</div>
			</div>

			<div class="label-bold" style="margin-bottom: 10px;">
				{{comment_form.content.label}}
			</div>
			{{ comment_form.content(class="search-form", maxlength=10000, style="width: 100%; height: 8em; padding-bottom: 80px") }}

			<div style="margin-top: 40px; display: flex; justify-content:space-between; align-items:flex-end;">
				<div style="margin-right: 40px;">
					{{comment_form.submit(class="button-main")}}
				</div>
			</div>
		</form>
	</div>
	{% endif %}

	<!-- list of comments  -->
	<div style="background-color: #F1F5F9; margin-top: 40px;">
		<div style="margin-left: 10%; margin-right: 12%; padding-top: 40px; padding-bottom: 80px;">
			<div class="title" style="margin-bottom: 40px; margin-top: 10px;">
				Comments
			</div>
			{% for comment in comments %}
				<div id="{{comment.id}}" >
					<div class="card-container" style="margin-bottom: 30px; padding:0;">
						<div class="card-container" style="margin-bottom: 0px; ">
							<div style="display:flex; justify-content:space-between">
								<div class="subtitle" >
									{{comment.author.name}}
								</div>
								
							</div>
							{% if comment.rating %}
							<div style="display: flex; width: 50%;">
								<div class="label-bold" style="margin-right: 6px;">
									Rating: 
								</div>
								<div class="star-container">
									<!-- Loop through the rating and display filled stars -->
									{% for i in range(comment.rating) %}
										<span class="star">&#9733;</span>
									{% endfor %}
									
									<!-- Loop through the remaining empty stars -->
									{% for i in range(5 - comment.rating) %}
										<span class="empty-star">&#9734;</span>
										<!-- Use &#9734; for an empty star -->
									{% endfor %}
								</div>
							</div>
							{% endif %}
							<hr style="margin-bottom: 20px; width: 50%;">
							<div class="body-text">
								{{comment.content}}
							</div>
						</div>
					</div>
					<div style="margin-left: 5%;">
						{% if comment.replies %}
							{% for reply in comment.replies %}
								<div id="{{reply.id}}"  class="card-container" style="margin-bottom: 10px; padding: 30px;">
									<div class="subtitle" >
										{{reply.author.name}}
									</div>
									
									<hr style="margin-bottom: 20px; width: 50%;">
									<div class="body-text">
										{{reply.content}}
									</div>
								</div>
							{% endfor %}
						{% endif %}
						<form action="/event/{{event.id}}/comment/reply/{{comment.id}}" method="POST" style="margin-bottom: 30px; margin-top: 30px;">
							{{reply_form.hidden_tag()}}
							<div style="display:flex;">
								{{reply_form.reply(class="search-form", rows=1, style="width: 90%; margin-right: 40px", maxlength=10000)}}
								{{reply_form.submit(id=comment.id, value="Reply", class="reply")}}
							</div>
						</form>
					</div>
				</div>
			{% endfor %}
		</div>	
	</div>
	
</body>

</html>
{% endblock %}
