{% extends 'base.html' %}
{% block title %} Event Detail {% endblock %}
{% block content %}

<body>
	<div class="events-title"
		style="display: flex; margin-top: 6%; margin-right: 10%; margin-left: 10%; margin-bottom: 5%;">
		<div style="flex: 50%">
			<div class="main-title" style="margin-bottom: 40px;">
				{{event.title}}
			</div>
			<div class="time-label" style="margin-bottom: 8px;">
				<span class="label-bold">
					Date & Time:
				</span>
				<span class="label">
					{{ event.event_date.from_date.strftime('%b %d, %Y %I:%M') }} - {{ event.event_date.to_date.strftime('%I:%M %p').lstrip('0')|upper }}
				</span>
			</div>
			<div class="org-label" style="margin-bottom: 8px;">
				<span class="label-bold">
					Organizer:
				</span>
				<span class="label">
					{{event.organizer.name}}
				</span>
			</div>

			{% if user_is_owner %}
				<a class="button-main no-color" href="/event/update/{{event.id}}" style="text-decoration: none">Edit</a>

			{% else %}
				{% if registration_open %}
				<div style="display:flex; gap:1rem; margin-top: 20%;">
					<form action="" method="POST">
						{{ form.hidden_tag()}}
						{{form.submit(class="button-main")}}
					</form>
					<a class="button-main no-color" style="text-decoration:none; height:100%;" href="/event/ics/{{event.id}}">Download ICS</a>
				</div>
				{% endif %}
			{% endif %}
		</div>
		<div style="flex: 17%;"></div>
		<div style="flex: 33%; margin-top: 15px;">
			<div class="subtitle" style="margin-bottom: 14px" ;>
				Location
			</div>
			<div class="address-label" style="margin-bottom: 8px;">
				<span class="label-bold">
					Address:
				</span>
				<span class="label">
					{{event.location.address}}
				</span>
			</div>
			<div class="room-label" style="margin-bottom: 10px;">
				<span class="label-bold">
					Room:
				</span>
				<span class="label">
					{{event.location.room}}
				</span>
			</div>
			<iframe width=80% height=200px style="border: 0; margin-top: 16px;" loading="lazy" allowfullscreen
				referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key=API_KEY
                  &q=Space+Needle,Seattle+WA">
			</iframe>
		</div>
	</div>

	<div class="event-details" style="background-color: #F1F5F9;">
        <div style="margin-left: 10%; margin-right: 12%; padding-top: 40px; padding-bottom: 80px;">
            <div class="title" style="margin-bottom: 40px; margin-top: 10px;">
                Event Details
            </div>
            <div style="display: flex;">
                <div class="white-card-container" style="flex: 60%;">
                    <div class="subtitle" style="margin-bottom: 28px;">
                        Description
                    </div>
                    <hr style="margin-bottom: 28px; width: auto;">
                    <p class="body-text">
						{{event.description}}
                    </p>
                </div>
                <div style="flex: 8%;"></div>
                <div class="white-card-container" style="flex: 32%; min-height: 300px;">
                    <div class="subtitle">
                        Related Interests
                    </div>
                    <hr style="width: auto;">
                    <div style="display: flexbox; flex-direction: row; justify-content: flex-start;">
						{% for interest in targeted_preferences %}
                        <button class="interest-tag">
                            {{interest.preference}}
                            <div class="tag-number">
                                {{interest.events_with_preference}}
                            </div>
                        </button>
						{% endfor %}

                    </div> 
                </div>
            </div>
            
        </div>
    </div>

	<!-- add a new comment -->
	<div style="margin-left: 10%; margin-right: 12%; padding-top: 40px; padding-bottom: 0px;">
		<div class="title" style="margin-bottom: 40px; margin-top: 10px;">
			Leave a Review
		</div>
		<form method="POST" action="/event/{{event.id}}">
			{{form.hidden_tag()}}
			<div style="display: flex; margin-top: 10px; margin-bottom: 10px;">
				<div class="label-bold" style="width: 50%;">
					{{comment_form.rating.label}}
				</div>
			</div>
		
			<div style="display: flex; margin-top: 10px; margin-bottom: 10px;">
				<div style="width: 50%;">
					{{ comment_form.rating(class="search-form", style="width: 100%") }}
				</div>
			</div>

			<div class="label-bold" style="margin-bottom: 10px;">
				{{comment_form.content.label}}
			</div>
			{{ comment_form.content(class="search-form", maxlength=10000, style="width: 100%; height: 8em; padding-bottom: 80px") }}

			<div style="margin-top: 40px; display: flex; justify-content:space-between; align-items:flex-end;">
				<div style="margin-right: 40px;">
					{{comment_form.submit(class="button-main")}}
				</div>
			</div>
		</form>
		

	</div>

	<!-- list of comments  -->
	<div style="background-color: #F1F5F9; margin-top: 40px;">
		<div style="margin-left: 10%; margin-right: 12%; padding-top: 40px; padding-bottom: 80px;">
			<div class="title" style="margin-bottom: 40px; margin-top: 10px;">
				Comments
			</div>
			{% for comment in comments %}
				<div id="{{comment.id}}" >
					<div class="white-card-container" style="margin-bottom: 30px; padding:0;">
						<div class="white-card-container" style="margin-bottom: 0px; ">
							<div style="display:flex; justify-content:space-between">
								<div class="subtitle" >
									{{comment.author.name}}
								</div>
								
							</div>
							{% if comment.rating %}
							<div style="display: flex; width: 50%;">
								<div class="label-bold" style="margin-right: 6px;">
									Rating: 
								</div>
								<div class="star-container">
									<!-- Loop through the rating and display filled stars -->
									{% for i in range(comment.rating) %}
										<span class="star">&#9733;</span>
									{% endfor %}
									
									<!-- Loop through the remaining empty stars -->
									{% for i in range(5 - comment.rating) %}
										<span class="empty-star">&#9734;</span>
										<!-- Use &#9734; for an empty star -->
									{% endfor %}
								</div>
							</div>
							{% endif %}
							<hr style="margin-bottom: 20px; width: 50%;">
							<div class="body-text">
								{{comment.content}}
							</div>
						</div>
					</div>
					<div style="margin-left: 5%;">
						{% if comment.replies %}
							{% for reply in comment.replies %}
								<div id="{{reply.id}}"  class="white-card-container" style="margin-bottom: 10px; padding: 30px;">
									<div class="subtitle" >
										{{reply.author.name}}
									</div>
									
									<hr style="margin-bottom: 20px; width: 50%;">
									<div class="body-text">
										{{reply.content}}
									</div>
								</div>
							{% endfor %}
						{% endif %}
						<form action="/event/{{event.id}}/comment/reply/{{comment.id}}" method="POST" style="margin-bottom: 30px; margin-top: 30px;">
							{{reply_form.hidden_tag()}}
							<div style="display:flex;">
								{{reply_form.reply(class="search-form", style="width: 90%; margin-right: 40px", maxlength=10000)}}
								{{reply_form.submit(id=comment.id, value="Reply", class="reply")}}
							</div>
						</form>
					</div>
				</div>
			{% endfor %}
		</div>	
	</div>
	
</body>

</html>
{% endblock %}