{% extends 'base.html' %}
{% block title %} Discover {% endblock %}
{% block content %}
<html>

<body>
	<div style="margin-left: 10%; margin-right: 10%; margin-bottom: 40px;">
		<div class="main-title" style="margin-bottom: 30px; font-size: 30px;">
			Filter Parameters
		</div>

		{% if error %}
		<p class="alert alert-danger col-sm-4" role="danger">
			<strong>Error:</strong> {{ error }}
		</p>
		{% endif %}
		<form method="POST" action="" >
			{{form.hidden_tag()}}
			<div class="label-bold" style="margin-bottom: 10px;">
				{{form.search.label}}
			</div>
			{{ form.search(class="search-form", style="width: 100%") }}
		
			<div style="display: flex; margin-top: 10px; margin-bottom: 10px;">
				<div class="label-bold" style="width: 50%;">
					{{form.start_date.label}}
				</div>
				<div class="label-bold" style="width: 50%;">
					{{form.end_date.label}}
				</div>
			</div>
		
			<div style="display: flex; margin-top: 10px; margin-bottom: 10px;">
				<div style="width: 50%;">
					{{ form.start_date(class="search-form", style="width: 90%") }}
				</div>
				<div style="width: 50%;">
					{{ form.end_date(class="search-form", style="width: 100%") }}
				</div>
			</div>
		
			<div class="label-bold" style="margin-top: 10px; margin-bottom: 10px;">
				{{form.preferences.label}}
			</div>
			<div style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: flex-start;">
				{{ form.preferences() }}
			</div>

			<div class="label-bold" style="margin-bottom: 10px;">
				{{form.items_per_page.label}}
			</div>
			{{ form.items_per_page(class="search-form", style="width: 55px") }}
		
			<div style="margin-bottom: 30px; margin-top: 30px; display: flex; justify-content: flex-start;">
				<div>
					{{ form.submit(class="button-main") }}
				</div>
			</div>
		</form>
	</div>


	<div id="filtered-events" style="background-color: #F1F5F9; padding-bottom: 60px;">
		<div style="margin-left: 10%; margin-right: 10%;">
			<div style="display: flex; justify-content:space-between; align-items:center; margin-bottom: 10px; padding-top: 40px; ">
				<div class="main-title" style="font-size: 30px;">
					Filtered Events
				</div>
			</div>
			<div class="body-text" style="margin-bottom: 40px;">
				{% if count == 1 %}
				<span>{{count}} event found</span>
				{% else %}
				<span>{{count}} events found</span>
				{% endif %}
			</div>
			{% for event in events %}
				<a href="{{event.link}}" style="text-decoration: none">
					<div class="white-card-container" style="flex: 60%; margin-bottom: 30px;">
						<div class="title" style="margin-bottom: 16px;" >
							{{event.title}}
						</div>
						<hr style="margin-bottom: 20px; width: auto;">
						<div style="display: flex; flex-wrap:wrap; justify-content:space-between; margin-bottom: 16px; gap:8px;">
							<div style="display: flex; min-width:calc(50% - 8px)">
								<span class="label-bold" style="margin-right: 6px;">
									Organizer: 
								</span>
								<div class="label">
									{{event.organizer.name}}
								</div>
							</div>
							<div style="display: flex; min-width:calc(50% - 8px)">
								<span class="label-bold" style="margin-right: 6px;">
									Time: 
								</span>
								<div class="label">
									{{ event.event_date.from_date.strftime('%b %d, %Y %I:%M') }} - {{ event.event_date.to_date.strftime('%I:%M %p').lstrip('0')|upper }}
								</div>
							</div>
							<div style="display: flex; min-width:calc(50% - 8px)">
								<span class="label-bold" style="margin-right: 6px;">
									Location: 
								</span>
								<div class="label">
									{{event.location.address}}, {{event.location.room}}
								</div>
							</div>
						</div>
								
					</div>
				</a>			
			{% endfor %}
			<div style="margin-bottom: 20px; margin-top: 40px; display: flex; justify-content:center;">
				{% if show_prev_button %}
					<div tabindex="0" class="turn-page" style="height:100%" onclick="switchPage(-1)">&larr;</div>
				{% endif %}
				{% if count > 0 %}
				<div class="label-bold">
					Page {{page + 1}} of {{max_pages}}
				</div>
				{% endif %} 
				{% if show_next_button %}
					<div tabindex="0" class="turn-page" style="height:100%" onclick="switchPage(1)">&rarr;</div>
				{% endif %}
			</div>
			<div style="display:flex; justify-content:center; align-items:center; gap:1rem">
			</div>
		</div>
	</div>

	
	<script>
		function switchPage(nextOrPrev) {
			const urlParams = new URLSearchParams(window.location.search);
			let page = "{{page}}";
			let pageAsNumber = Number(page);
			urlParams.set('page', `${pageAsNumber+nextOrPrev}`);
			let url = `${window.location.pathname}?${urlParams}#filtered-events`;
			window.location = url;
		}
	</script>
</body>

</html>
{% endblock %}