{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
  <body>
    <div class="container">

      <h3>Create</h3>

      {% if error %}
      <p class="alert alert-danger col-sm-4" role="danger">
        <strong>Error:</strong> {{ error }}
      </p>
      {% endif %}

      <form action="" method="POST">
        {{form.hidden_tag()}}
        <div class="label-bold" style="margin-bottom: 10px;">
          {{form.title.label}}
        </div>
        {{ form.title(class="search-form", style="width: 100%") }}
      
        <div style="display: flex; margin-top: 10px; margin-bottom: 10px;">
          <div class="label-bold" style="width: 50%;">
            {{form.from_date.label}}
          </div>
          <div class="label-bold" style="width: 50%;">
            {{form.to_date.label}}
          </div>
        </div>
      
        <div style="display: flex; margin-top: 10px; margin-bottom: 10px;">
          <div style="width: 50%;">
            {{ form.from_date(class="search-form", style="width: 90%") }}
          </div>
          <div style="width: 50%;">
            {{ form.to_date(class="search-form", style="width: 100%") }}
          </div>
        </div>

        <div style="display: flex; margin-top: 10px; margin-bottom: 10px;">
          <div class="label-bold" style="width: 50%;">
            {{form.location_address.label}}
          </div>
          <div class="label-bold" style="width: 50%;">
            {{form.location_room.label}}
            
          </div>
        </div>
      
        <div style="display: flex; margin-top: 10px; margin-bottom: 10px;">
          <div style="width: 50%;">
            {{ form.location_address(class="search-form", style="width: 90%") }}
          </div>
          <div >
            {{ form.location_room(class="search-form", style="width: 100%") }}
          </div>
        </div>
        <div class="label-bold" style="margin-top: 10px; margin-bottom: 10px;">
          {{form.registration_open_until.label}}
        </div>
        <div style="width: 50%;">
          {{ form.registration_open_until(class="search-form", style="width: 100%") }}
        </div>
        <div class="label-bold" style="margin-top: 10px; margin-bottom: 10px;">
          {{form.targeted_preferences.label}}
        </div>
        <div>
          {{ form.targeted_preferences(class="search-form", style="width: 100%; height: 20%") }}
        </div>

        <div class="label-bold" style="margin-top: 10px; margin-bottom: 10px;">
          {{form.description.label}}
        </div>
        <div>
          {{ form.description(class="search-form", maxlength=10000,  rows=10, style="width:100%") }}
        </div>

        <div style="margin-bottom: 40px; margin-top: 40px; display: flex;">
          <div style="margin-right: 40px;">
            {% if form_is_update %}
            <div style="display:flex; flex-wrap:wrap; gap:1rem;">
              {{ form.submit(value="Update", class="button-main") }}
              <a class="button-cancel" href="/event/{{event.id}}" onclick="return confirm('Are you sure you want to cancel updating this event?')" style="text-decoration: none;">Cancel</a>
              <a class="button-cancel" href="/event/delete/{{event.id}}" onclick="return confirm('Are you sure you want to delete this event?')" style="height: 100%; text-decoration: none">Delete</a>
            </div>

            {% else %}
            {{ form.submit(value="Create", class="button-main") }}
            {% endif %}
          </div>
        </div>
      </form>
    </div>

  </body>
</html>
{% endblock %}