{% extends 'base.html' %}
{% block title %} Event Detail {% endblock %}
{% block content %}
    <div class="events-title" style="display: flex; margin-top: 7%; margin-right: 10%; margin-left: 10%;">
        <div style="flex: 40%">
            <div class="main-title" style="margin-bottom: 40px;" >
                Michael Garron Hospital - Student Open House
            </div>
            <div class="time-label" style="margin-bottom: 8px;">
                <span class="label-bold">
                    Date & Time:
                </span>
                <span class="label">
                    Wednesday October 4, 2023 12:00PM - 1:30PM
                </span>
            </div>
            <div class="org-label" style="margin-bottom: 8px;">
                <span class="label-bold">
                    Organizer: 
                </span>
                <span class="label">
                    Career Centre Staff, Career Centre
                </span>
            </div>
            <button style="margin-top: 15%";>
                Register
            </button>
        </div> 
        <div style="flex: 5%;"></div>
        <div style="flex: 20%; margin-top: 15px;">
            <div class="subtitle" style="margin-bottom: 14px";>
                Location
            </div>
            <div class="address-label" style="margin-bottom: 8px;">
                <span class="label-bold">
                    Address: 
                </span>
                <span class="label">
                    155 College St Room 500, Toronto, ON M5T 3M7
                </span>
            </div>
            <div class="room-label" style="margin-bottom: 10px;">
                <span class="label-bold">
                    Room:  
                </span>
                <span class="label">
                    DL220
                </span>
            </div>
        </div>

    </div>
{% endblock %}