{% extends 'base.html' %}
{% block title %} Profile {% endblock %}
{% block content %}
    <div class = "card">
        <div class = "container-fluid profile-sec">
            <div class = "profile-sec">
                <div class = "profile-pic">
                    <img src="/static/img/profile_pic.jpg" width="200" height="200" alt="">
                </div>
                <div class = "profile_content">
                    <div class="main-title profile_title">
                        <div class="name-and-button">
                            <span>Tommy Ni</span>
                            <button type="button" class="edit-profile"></button>
                        </div>
                        <hr class="underline_name">
                    </div>
                    <div class="title profile_info">
                        tommy.ni@mail.utoronto.ca
                    </div>
                    <div class="label-container">
                        <span class="label interest-tag">Health Science</span>
                        <span class="label interest-tag">Tea</span>
                        <span class="label interest-tag">Fish</span>
                        <span class="label interest-tag">You</span>
                        <!-- Add more labels as needed -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "col"></div>

    <div class = "container-fluid upp-sec-profile col-9">
        <div class="row">
            <div class="upcoming col-8">YOUR UPCOMING EVENTS
                <hr class="underline_white">
            </div>
        </div>
        <div class="row">
            <div class = "card upcoming_card_profile col-11">
                <div class="row">
                    <div class="title upcoming_title_profile col-7">
                        Michael Garron Hospital - Student Open House
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="date_time_time col-6 date_time_top_profile">
                                12:00PM
                            </div>
                            <div class="date_time_date col-6 date_time_top_profile">
                                Wendesday
                            </div>
                        </div>
                        <div class="row">
                            <div class="date_time_time col-6">
                                01:30PM
                            </div>
                            <div class="date_time_date col-6">
                                Oct 4, 2023
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "card upcoming_card_profile col-11">
                <div class="row">
                    <div class="title upcoming_title_profile col-7">
                        Michael Garron Hospital - Student Open House
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="date_time_time col-6 date_time_top_profile">
                                08:00AM
                            </div>
                            <div class="date_time_date col-6 date_time_top_profile">
                                Monday
                            </div>
                        </div>
                        <div class="row">
                            <div class="date_time_time col-6">
                                08:00PM
                            </div>
                            <div class="date_time_date col-6">
                                Apr 1, 2023
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "card upcoming_card_profile col-11">
                <div class="row">
                    <div class="title upcoming_title_profile col-7">
                        Michael Garron Hospital - Student Open House
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="date_time_time col-6 date_time_top_profile">
                                11:00AM
                            </div>
                            <div class="date_time_date col-6 date_time_top_profile">
                                Wendesday
                            </div>
                        </div>
                        <div class="row">
                            <div class="date_time_time col-6">
                                01:30PM
                            </div>
                            <div class="date_time_date col-6">
                                Oct 25, 2023
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "card upcoming_card_profile col-11">
                <div class="row">
                    <div class="title upcoming_title_profile col-7">
                        Michael Garron Hospital - Student Open House
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="date_time_time col-6 date_time_top_profile">
                                12:00PM
                            </div>
                            <div class="date_time_date col-6 date_time_top_profile">
                                Saturday
                            </div>
                        </div>
                        <div class="row">
                            <div class="date_time_time col-6">
                                01:30PM
                            </div>
                            <div class="date_time_date col-6">
                                Oct 14, 2023
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}